<!doctype html>
<html ng-app="todo">
<head>
  <title>To Do list in Angular JS</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <!-- App Container -->
  <div id="todoapp" ng-controller="ToDoCtrl">

    <!-- Input Area -->
    <div id="addtask">
      <!-- Input Text box -->
      <input type="text" name="add-task" class='add task' placeholder="Add your task here" ng-model="taskName" ng-keyup="addTask()"/>
      <!-- Priority Selector -->
      <select ng-model="priority">
          <option value='normal'>Normal</option>
          <option value='medium'>Medium</option>
          <option value='high'>High</option>
      </select>
    </div>

    <!-- List Area -->
    <ul id="todo-list">
      <li ng-repeat="task in tasklist track by $index">
          <input type="checkbox" name="checkbox" ng-model="task.completed"/>
          <span ng-class="{completed: task.completed}">{{task.name}} ({{task.priority}})</span>
          <button ng-click="deleteTask(tasklist.indexOf(task))">Delete</button>
      </li>
    </ul>
  </div>
  <!-- Our custom code script goes at the end of the body tag. -->
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>